.header, .header > button {
  color: black;
  background-color: grey;
  padding: 0.7rem;
}

.container {
  color: black;
  background-color: bisque;
  padding: 0.7rem;
}

.modal__container {
  display: none;
  padding: 0.7rem;
  color: black;
  background-color: bisque;
}

.header.darkMode, .header.darkMode > button {
  color: white;
  background-color: hsl(209, 23%, 22%);
}

.container.darkMode {
  color: white;
  background-color: hsl(207, 26%, 17%);
}

.modal__container.darkMode {
  display: none;
  color: white;
  background-color: hsl(207, 26%, 17%);
}
  
  @media (prefers-color-scheme: dark) {
    /* defaults to dark mode */

    .header, .header > button {
      color: white;
      background-color: hsl(209, 23%, 22%);
    }
    
    .container {
      color: white;
      background-color: hsl(207, 26%, 17%);
    }
    
    .modal__container{
      display: none;
      color: white;
      background-color: hsl(207, 26%, 17%);
    }

    .header.lightMode, .header.lightMode > button {
      color: black;
      background-color: grey;
    }

    .container.lightMode {
      color: black;
      background-color: bisque;
    }

    .modal__container.lightMode {
      display: none;
      color: black;
      background-color: bisque;
    }

  }
  
/*---------------------------------------------------*/

  .btn__toggle {
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-weight: 600;
    border: 2px solid yellow;
  }

  .next__page {
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-weight: 600;
  }

  .back {
    border: none;
    padding: 0.3rem 0.8rem;
  }

  .modal {
    float: right;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-weight: 600;
  }

  .container--hide {
    display: none;
}

  .modal__container--show {
    display: block !important;
  }

 